body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(174,227,113,1) 10%, rgba(106,146,242,1) 40%, rgba(121,202,249,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body canvas {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
}

body h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: #FFF;
}
